<ion-view view-title="Videos">
  <ion-content on-swipe-right="goToUpdates()">
    <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="filterText">
        </label>
        <button class="button button-clear" ng-click="filterText = ''">
            Cancel
        </button>
    </div>

    <div ng-hide="videos" class="row">
        <div class="col" style="text-align: center; margin-top: 3em;">
        <i class="icon ion-load-a"></i> Loading...
        </div>
    </div> 

    <div ng-repeat="video in videos | filter:filterText" class="list">

        <a class="item item-thumbnail-left" href="#" ng-click="openLink('{{video.link}}')">
            <img src="{{video.mediaGroups[0].contents[0].thumbnails[0].url}}">
            <h2>{{video.title}}</h2>
            <p>{{video.content}}</p>
            <small class="text-muted">{{video.publishedDate.slice(0, -15)}}</small>
        </a>

    </div>
  </ion-content>
</ion-view>
