<ion-view view-title="Updates">
  <ion-content on-swipe-right="goToPrayer()" on-swipe-left="goToVideos()">
    <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="filterText">
        </label>
        <button class="button button-clear" ng-click="filterText = ''">
            Cancel
        </button>
    </div>

    <div ng-hide="newsletters" class="row">
        <div class="col" style="text-align: center; margin-top: 3em;">
        <i class="icon ion-load-a"></i> Loading...
        </div>
    </div> 

    <div ng-repeat="newsletter in newsletters | filter:filterText" class="card">
        <div class="item item-divider">
            {{newsletter.title}}
            <span class="item-note">{{newsletter.publishedDate.slice(0, -15)}}</span>
        </div>
        <div class="item item-text-wrap">
            {{newsletter.content}}
        </div>
        <div class="item item-divider">
            <span class="item-note">
                <a href="#" ng-click="openLink('{{newsletter.link}}')">more&hellip;</a>
            </span>
        </div>
    </div>
  </ion-content>
</ion-view>
