<ion-view view-title="Prayer Times">
  <ion-content class="padding center" on-swipe-left="goToUpdates()">

      <div ng-hide="prayers" class="row">
          <div class="col" style="text-align: center; margin-top: 3em;">
            <i class="icon ion-load-a"></i> Loading...
          </div>
      </div> 

      <div ng-show="prayers">
      
        <div class="list card">
            <div class="row item">
                <div class="col col-33 col-offset-33"><strong>Athan</strong></div>
                <div class="col col-33"><strong>Iqama</strong></div>
            </div>
        </div>

        <div class="list card">
            <div class="row item">
                <div class="col col-33"><strong>Fajr</strong></div>
                <div class="col col-33">{{ prayers.field_fajr_athan[0].value }}</div>
                <div class="col col-33">{{ toHHMM(prayers.field_fajr[0].value) }}</div>
            </div>
        </div>
        <div class="list card">
            <div class="row item">
                <div class="col col-33"><strong>Dhuhr</strong></div>
                <div class="col col-33">{{ prayers.field_dhuhr_athan[0].value }}</div>
                <div class="col col-33">{{ toHHMM(prayers.field_dhuhr[0].value) }}</div>
            </div>
        </div>
        <div class="list card">
            <div class="row item">
                <div class="col col-33"><strong>Asr</strong></div>
                <div class="col col-33">{{ prayers.field_asr_athan[0].value }}</div>
                <div class="col col-33">{{ toHHMM(prayers.field_asr[0].value) }}</div>
            </div>
        </div>
        <div class="list card">
            <div class="row item">
                <div class="col col-33"><strong>Maghrib</strong></div>
                <div class="col col-33">{{ prayers.field_maghrib_athan[0].value }}</div>
                <div class="col col-33"><small>{{ prayers.field_maghrib[0].value }}</small></div>
            </div>
        </div>
        <div class="list card">
            <div class="row item">
                <div class="col col-33"><strong>Isha</strong></div>
                <div class="col col-33">{{ prayers.field_isha_athan[0].value }}</div>
                <div class="col col-33">{{ toHHMM(prayers.field_isha[0].value) }}</div>
            </div>
        </div>

      </div>


  </ion-content>
</ion-view>
